body{
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}
.container{
    text-align: center;
    width: 50%;
    margin: auto;
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    #city{
        width: 97%;
        border: none;
        border-radius: 5px;
        padding: 5px;
        margin-bottom: 9px;
    }